/* Generated with https://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
font-family: 'TeXGyreAdventor';
src: url('fonts/texgyreadventor-regular-webfont.woff2') format('woff2'),
     url('fonts/texgyreadventor-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* Generated with https://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
font-family: 'TeXGyreAdventor';
src: url('fonts/texgyreadventor-bold-webfont.woff2') format('woff2'),
     url('fonts/texgyreadventor-bold-webfont.woff') format('woff');
font-weight: bold;
font-style: normal;
}

body {
margin: 0;
border: 0;
padding: 0;
font-family: TeXGyreAdventor, Arial, sans-serif;
}

header {
background: #222;
top: 0;
left: 0;
right: 0;
z-index: 99999;
}

header, header > a {
color: #fff;
}

header, footer, body > section {
padding: 12px;
}

h1, h2 {
font-weight: bold;
}

ul.checkboxlist {
display: inline-block;
list-style-type: none;
margin: 0;
border: 1px solid black;
padding: 0;
height: 4.8em;
line-height: 1;
overflow-y: scroll;
}

.slideshow {
width: 100%;
height: 400px;
max-width: 600px;
}

.slideshow-resizable {
width: 300px;
height: 200px;
overflow: hidden;
resize: both;
border: 2px solid;
padding: 25px;
}
